.stats {
  visibility: collapse;
  right: 0;
}

.mat-drawer-inner-container {
  padding: 0;
}

.sidemenu {
  padding: 0 0 1rem 0;
  max-width: 50%;
}

.viewer {
  position: absolute;
  top: 65px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 65px);
  border-top: 1px solid black;
}

.loading {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  &-sphere {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    .spinner-grow {
      width: 3rem;
      height: 3rem;
    }
  }
  &-message {
    position: absolute;
    top: calc(50% + 60px);
    left: 50%;
    transform: translateX(-50%);
    color: white;
  }
}

.elements {
  position: absolute;
  z-index: 1;
  background-color: white;
  border-radius: 7px;
  top: 75px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 250px;
  max-height: calc(100vh - 85px);
  &-header {
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    h3 {
      margin: 0;
    }
    &:not(:first-child) {
      border-top: 1px solid #ced4da;
    }
  }
  &-body {
    overflow: hidden;
    &.element-body-collapsed {
      height: 0px;
      transition: height 1s;
    }
    &-search {
      margin-bottom: 15px;
      padding: 0 20px;
      select {
        border-radius: 7px;
      }
      &-slider {
        width: 100%;
      }
    }
    &-items {
      max-height: calc(100vh - 235px);
      overflow: auto;
      &-no-items {
        padding: 10px;
        margin: 0 20px 5px 20px;
      }
      &-item {
        cursor: pointer;
        padding: 10px;
        margin: 0 20px 5px 20px;
        &.selected {
          color: red;
        }
        &:hover {
          color: rgb(255, 145, 0);
        }
      }
    }
  }
}

.element {
  z-index: 1;
  position: absolute;
  top: 75px;
  right: 10px;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  &.info-open {
    border-radius: 7px 7px 0 0;
  }
}

.info {
  position: absolute;
  right: 10px;
  top: 116px;
  z-index: 2;
  background-color: white;
  border-radius: 7px 0 7px 7px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  padding: 15px;
}