.stats{
  visibility: collapse;
  right: 0;
}

.mat-drawer-inner-container{
  padding: 0;
}

.sidemenu{
  padding: 0 0 1rem 0;
  max-width: 50%;
}

#viewer-container {
  width: 80vw;
  height: calc(100vh - 100px);
}

.model-items {
  margin-top: 20px;
  max-height: calc(100vh - 76px);
  overflow: auto;
  &-item {
    cursor: pointer;
    &.selected {
      color: red;
    }
    &:hover {
      color: rgb(255, 145, 0);
    }
  }
}
