<div class="loading" *ngIf="loading">
  <div class="loading-sphere">
    <div class="spinner-grow text-light" role="status">
      <span class="visually-hidden">{{
        "VISUALIZER.LOADING.SPHERE" | transloco
      }}</span>
    </div>
  </div>
  <div class="loading-message">
    <h2>{{ "VISUALIZER.LOADING.TEXT" | transloco }}</h2>
  </div>
</div>
<div class="elements" *ngIf="spaces">
  <div class="elements-header" (click)="expandElements()">
    <h3>{{ "VISUALIZER.ELEMENTS.TITLE" | transloco }}</h3>
    <mat-icon>{{ elementsExpanded ? "expand_less" : "expand_more" }}</mat-icon>
  </div>
  <div
    class="elements-body"
    [ngClass]="elementsExpanded ? '' : 'element-body-collapsed'"
  >
    <div class="elements-body-search">
      <select
        class="form-select"
        aria-label="Default select example"
        #spaceType
        (change)="getSpaces(spaceType.value)"
        *ngIf="spaceTypes"
      >
        <option disabled>
          {{ "VISUALIZER.ELEMENTS.ITEMS.PLACEHOLDER" | transloco }}
        </option>
        <option
          [selected]="spaceType.type === 'STAIR'"
          [value]="spaceType.type"
          *ngFor="let spaceType of spaceTypes"
        >
          {{ "VISUALIZER.ELEMENTS.ITEMS." + spaceType.type | transloco }}
        </option>
      </select>
    </div>
    <div *ngIf="spaces && spaces.length > 0" class="elements-body-items">
      <p
        class="elements-body-items-item"
        *ngFor="let item of spaces"
        [class]="item.expressID === itemSelected?.expressID ? 'selected' : ''"
        (mouseover)="highlightElement(item.expressID, true)"
        (click)="selectElement(item.expressID)"
        (mouseout)="highlightElement(item.expressID, false)"
      >
        {{ item.Name.value }}
      </p>
    </div>
    <div *ngIf="!spaces || spaces.length === 0" class="elements-body-items">
      <p class="elements-body-items-no-items">
        {{ "VISUALIZER.ELEMENTS.NO_ITEMS" | transloco }}
      </p>
    </div>
  </div>
  <div class="elements-header" (click)="expandOptions()">
    <h3>{{ "VISUALIZER.OPTIONS.TITLE" | transloco }}</h3>
    <mat-icon>{{ optionsExpanded ? "expand_less" : "expand_more" }}</mat-icon>
  </div>
  <div
    class="elements-body"
    [ngClass]="optionsExpanded ? '' : 'element-body-collapsed'"
  >
    <div class="elements-body-search">
      <mat-checkbox
        class="elements-body-search-checkbox"
        [checked]="transparent"
        (change)="toggleTransparency(transparencyValue.value)"
        >{{ "VISUALIZER.OPTIONS.ITEMS.TRANSPARENCY" | transloco }}</mat-checkbox
      >
      <mat-slider
        class="elements-body-search-slider"
        max="100"
        min="0"
        step="1"
        value="10"
        #transparencyValue
        (change)="updateTransparency(transparencyValue.value)"
        [disabled]="!transparent"
      >
      </mat-slider>
    </div>
  </div>
</div>
<div class="info" *ngIf="itemSelected && infoExpanded">
  <h3>{{ itemSelected.Name.value }}</h3>
  <p>Description: {{ itemSelected.Description.value }}</p>
  <p>Type: {{ itemSelected.ObjectType.value }}</p>
</div>
<div
  class="element"
  *ngIf="itemSelected"
  [class]="infoExpanded ? 'info-open' : ''"
>
  <button mat-icon-button (click)="toggleElement()" [disabled]="elementClip">
    <mat-icon>{{
      elementsHidden.indexOf(this.itemSelected.expressID) >= 0
        ? "visibility_off"
        : "visibility"
    }}</mat-icon>
  </button>
  <button
    mat-icon-button
    [disabled]="elementsHidden.indexOf(this.itemSelected.expressID) >= 0"
    (click)="toggleClippingPlane()"
  >
    <mat-icon>transform</mat-icon>
  </button>
  <button mat-icon-button (click)="infoExpanded = !infoExpanded">
    <mat-icon>info</mat-icon>
  </button>
</div>
<div class="floors" *ngIf="buildingFloors">
  <div class="floors-number">
    <button (click)="floorUp()" [disabled]="buildingFloors && currentFloor === buildingFloors[buildingFloors.length - 1].floor">
      <mat-icon>expand_less</mat-icon>
    </button>
    <p [ngClass]="itemSelected && checkIfFloorSelected() ? '' : 'inactive'" (click)="toggleFloor(currentFloor)">{{ currentFloor }}</p>
    <button (click)="floorDown()" [disabled]="buildingFloors && currentFloor === buildingFloors[0].floor">
      <mat-icon>expand_more</mat-icon>
    </button>
  </div>
  <div class="floors-container">
    <div
      class="floors-container-svg"
      *ngFor="let floor of buildingFloors"
      (click)="selectElement(floor.expressID)"
    >
      <svg height="40" width="150">
        <polygon
          points="76,2 74,2 0,19 0,21 74,38 76,38 150,21 150,19"
          [ngClass]="itemSelected && itemSelected.expressID === floor.expressID ? 'active' : ''"
        />
      </svg>
    </div>
  </div>
</div>
<div #threeContainer class="viewer"></div>
