.viewer {
  position: absolute;
  top: 65px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 65px);
  border-top: 1px solid black;
}

.loading {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  &-sphere {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    .spinner-grow {
      width: 3rem;
      height: 3rem;
    }
  }
  &-message {
    position: absolute;
    top: calc(50% + 60px);
    left: 50%;
    transform: translateX(-50%);
    color: white;
  }
}

.options {
  position: absolute;
  z-index: 1;
  background-color: white;
  top: 75px;
  right: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: grid;
  padding: 3px;
}

.transparency {
  z-index: 1;
  position: absolute;
  top: 115px;
  right: 65px;
  background-color: white;
  padding: 0 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.floors {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 1;
  display: flex;
  align-content: space-between;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  &-container {
    padding: 0 20px;
    padding-bottom: 20px;
    margin: auto 0;
    transform: rotate(180deg);
    &-svg {
      width: 150px;
      margin-bottom: -20px;
      cursor: pointer;
      &:hover {
        & svg {
          transform: scale(1.1);
          transition: ease-out 0.1s;
        }
      }
      & svg {
        pointer-events: none;
        polygon {
          fill: rgba(255, 255, 255, 0.8);
          stroke: rgba(0, 0, 0, 0.2);
          stroke-width: 1;
          pointer-events: none;
          &.active {
            fill: rgba(231, 242, 255, 0.8);
          }
        }
      }
    }
  }
  &-number {
    padding: 15px;
    & p {
      height: auto;
      margin: 100% 0;
      text-align: center;
      font-size: 25px;
      font-weight: 100;
      cursor: pointer;
      &.inactive {
        color: lightgrey;
      }
    }
    & button {
      border: none;
      background: transparent;
      & mat-icon {
        font-size: 15px;
        text-align: center;
      }
    }
  }
}

.element {
  z-index: 1;
  position: absolute;
  top: 210px;
  right: 10px;
  background-color: white;
  display: grid;
  padding: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.elements {
  z-index: 1;
  position: absolute;
  top: 75px;
  right: 65px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  &-search {
      margin: 15px 0;
      padding: 0 20px;
      select {
        border-radius: 7px;
      }
      &-slider {
        width: 100%;
      }
    }
    &-items {
      max-height: calc(100vh - 200px);
      overflow: auto;
      &-no-items {
        padding: 10px;
        margin: 0 20px 5px 20px;
      }
      &-item {
        cursor: pointer;
        padding: 10px;
        margin: 0 20px 5px 20px;
        &.selected {
          color: red;
        }
        &:hover {
          color: rgb(255, 145, 0);
        }
      }
    }
}

.info {
  position: absolute;
  right: 65px;
  top: 300px;
  z-index: 2;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  padding: 15px;
  &-item {
    margin-bottom: 15px;
    &-title {
      font-weight: 500;
    }
    &-second {
      padding-left: 10px;
    }
    &-third {
      padding-left: 20px;
    }
  }
}
