/* .map {
    height: 100%;
    padding: 0;
}
 */

.map-container {
  position: absolute;
  top: 56px;
  right: 0;
  bottom: 0;
  margin: 30px;
  &-frame {
    border: 2px solid black;
    height: calc(100% - 56px);
    #map {
      height: 100%;
    }
  }
}

.placeholder-glow {
  padding-left: 5px;
  margin-top: 25px;
}

.back-icon {
  font-size: 25px;
  cursor: pointer;
}

.result {
  padding-left: 5px;
  &-item {
    margin-top: 25px;
    &-link {
      cursor: pointer;
      &:hover {
        color: rgb(255, 145, 0);
      }
      &-icon {
        margin-right: 6px;
      }
    }
  }
}