<!-- <div class="map" leaflet [leafletOptions]="options"></div> -->
<div class="row">
  <div class="col-3 mt-4" *ngIf="!selectedBuilding">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Buscar direcciones..."
        #searchText
        (keyup)="searchInput($event, searchText.value)"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="search(searchText.value)"
        >
          Buscar
        </button>
      </div>
    </div>
    <div class="result" *ngIf="searchResult && !searching">
        <div class="result-item" *ngFor="let item of searchResult; index as i">
            <p class="result-item-link" (click)="goTo(i)"><i [class]="'result-item-link-icon bi bi-' + getResultType(item.class)['icon']"></i>{{ item.display_name }}</p>
        </div>
    </div>
    <p class="placeholder-glow" *ngIf="searching">
      <span class="placeholder col-7"></span>
      <span class="placeholder col-4"></span>
      <span class="placeholder col-4"></span>
      <span class="placeholder col-6"></span>
      <span class="placeholder col-8"></span>
    </p>
  </div>
  <div class="col-3 mt-4" *ngIf="selectedBuilding">
    <i class="bi bi-chevron-left back-icon" (click)="selectedBuilding = null;"></i>
    <!-- TODO cambiar edificio por tipo de elemento -->
    <h4 class="mt-3 mb-3"><i [class]="'resultLinkIcon bi bi-' + getResultType(selectedBuilding.category)['icon']"></i> Info {{ getResultType(selectedBuilding.category)['text'] }}</h4>
    <table class="table building-info-table" *ngIf="selectedBuilding.category === 'building'">
      <tbody>
        <tr>
          <th>Calle</th>
          <td>{{ selectedBuilding.addresstags.street }}</td>
        </tr>
        <tr>
          <th>Número</th>
          <td>{{ selectedBuilding.addresstags.housenumber }}</td>
        </tr>
        <tr>
          <th>Ciudad</th>
          <td>{{ selectedBuilding.addresstags.city }}</td>
        </tr>
        <tr>
          <th>Código Postal</th>
          <td>{{ selectedBuilding.addresstags.postcode }}</td>
        </tr>
        <tr>
          <th>Pisos</th>
          <td>{{ selectedBuilding.extratags['building:levels'] }}</td>
        </tr>
        <tr>
          <th>Pisos garaje</th>
          <td>{{ selectedBuilding.extratags['building:levels:underground'] }}</td>
        </tr>
        <tr>
          <th>Descripción</th>
          <td>{{ selectedBuilding.extratags.description }}</td>
        </tr>
        <tr>
          <th>Altura</th>
          <td>{{ selectedBuilding.extratags.height }}</td>
        </tr>
      </tbody>
    </table>
    <table class="table building-info-table" *ngIf="selectedBuilding.category === 'highway'">
      <tbody>
        <tr *ngFor="let item of selectedBuilding.address">
          <th>{{ item.rank_address !== 4 ? dataHeaders[item.rank_address] : item.type === 'country' ? 'País' : 'País (abreviatura)' }}</th>
          <td>{{ item.localname }}</td>
        </tr>
      </tbody>
    </table>
    <button *ngIf="hasIFC && selectedBuilding.category === 'building'" class="btn btn-primary btn-small w-100 mt-3" [routerLink]="'/visualizer/' + selectedBuilding.osm_id">Ver modelo IFC</button>
    <button *ngIf="selectedBuilding.category === 'building'" class="btn btn-warning btn-small w-100 mt-3" (click)="putIFC(selectedBuilding.osm_id)">{{ hasIFC ? 'Modificar' : 'Añadir' }} modelo IFC</button>
  </div>
  <div class="col-8 map-container">
    <div class="map-container-frame">
      <div id="map"></div>
    </div>
  </div>
</div>
