<mat-toolbar>
  <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="home">
      <mat-icon>home</mat-icon>
      <span>{{ "COMMON.MENU.HOME" | transloco }}</span>
    </button>
    <button mat-menu-item routerLink="search">
      <mat-icon>map</mat-icon>
      <span>{{ "COMMON.MENU.SEARCH" | transloco }}</span>
    </button>
    <button mat-menu-item routerLink="visualizer">
      <mat-icon>3d_rotation</mat-icon>
      <span>{{ "COMMON.MENU.VISUALIZER" | transloco }}</span>
    </button>
  </mat-menu>
  <span>APP ADFS demoscna FWK FRONT ANGULAR</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon" [matMenuTriggerFor]="language">
    <mat-icon>language</mat-icon>
  </button>
  <mat-menu #language="matMenu">
    <button mat-menu-item (click)="selectLanguage('es')">
      <span>{{ "COMMON.LANGUAGE.ES" | transloco }}</span>
    </button>
    <button mat-menu-item (click)="selectLanguage('en')">
      <span>{{ "COMMON.LANGUAGE.EN" | transloco }}</span>
    </button>
    <button mat-menu-item (click)="selectLanguage('val')">
      <span>{{ "COMMON.LANGUAGE.VAL" | transloco }}</span>
    </button>
  </mat-menu>
</mat-toolbar>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
